// "phone":        400px,
// "phone-wide":   480px,
// "phablet":      560px,
// "tablet-small": 640px,
// "tablet":       768px,
// "tablet-wide":  1024px,
// "desktop":      1248px,
// "desktop-wide": 1440px

@media screen and (max-width:2000px) {
    #burger-menu {
    display: none;
}
}


@media screen and (max-width:1441px) {
    .navigation-ul {
        gap: 25px;
        font-size: 16px;
    }
    .navigation-logo {
        margin-right: 0px;
    }
    
    #headerBG {
        height: 50vh;
    }

    .header-bloc1 {
        position:absolute;
        left: 35%;
    }

    .header-bloc2 {
        position: absolute;
        right: 35%;
        
    }
}

@media screen and (max-width:1248px) {
    .navigation-ul {
        gap: 25px;
        font-size: 16px;
    }
    
    #headerBG {
        height: 50vh;
    }

    .header-bloc1 {
        position:absolute;
        left: 32%;
    }

    .navigation-bar {
        gap: 250px;
    }

    .header-bloc2 {
        position: absolute;
        right: 32%;
        
    }
}

@media screen and (max-width:1024px) {
    .navigation-ul {
        gap: 25px;
        font-size: 16px;
    }
    
    #headerBG {
        height: 50vh;
    }

    .header-bloc1 {
        position:absolute;
        left: 28%;
    }

    .navigation-bar {
        gap: 250px;
    }

    .header-bloc2 {
        position: absolute;
        right: 28%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 76%;
    }

    .projets-image {
        height: 250px;
        width: 350px;
    }

    .ppara {
        font-size: 16px;
    }

    .projets-paragraphe {
        width: 350px;
    }
}

@media screen and (max-width:768px) {
    
    .header-bloc1 {
        position:absolute;
        left: 21%;
    }

    .navigation-bar {
        gap: 125px;
    }

    .header-bloc2 {
        position: absolute;
        right: 21%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 67%;
    }

    .projets-image {
        height: 200px;
        width: 300px;
    }

    .projets-paragraphe {
        width: 350px;
    }

    .about-text {
        width: 550px;
        font-size: 16px;
    }

    .skills-container {
        gap: 20px;
    }

    .front-back-container {
        gap: 20px;
    }

    .front-container {
        font-size: 18px;
        width: 175px;
    }

    .back-container {
        font-size: 18px;
        width: 175px;
    }

    .autres-container {
        font-size: 18px;
        width: 175px;
    }

    .contact-container {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    
    .navigation-ul {
        display: none;
    }

    #burger-menu {
        display: block;
    }

    .header-bloc1 {
        position:absolute;
        left: 15%;
    }

    .navigation-bar {
        gap: 125px;
    }

    .header-bloc2 {
        position: absolute;
        right: 15%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 61%;
    }

    .projets-article {
        flex-direction: column;
        align-items: center;
    }

    .projets-image {
        height: 300px;
        width: 450px;
    }

    .projets-paragraphe {
        width: 450px;
    }

    .about-text {
        width: 450px;
        font-size: 16px;
    }

    .skills-container {
        gap: 20px;
    }

    .front-back-container {
        gap: 20px;
    }

    .front-container {
        font-size: 18px;
        width: 175px;
    }

    .back-container {
        font-size: 18px;
        width: 175px;
    }

    .autres-container {
        font-size: 18px;
        width: 175px;
    }

    .contact-container {
        font-size: 16px;
    }

    .footer {
        padding: 0px 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    
    #menu-burger-ul {
        position: absolute;
        font-family: "HindMaduraiR";
        font-size: 20px;
        transform: translate(-60%);
        margin-top: 24px;
        padding: 50px;
        height: 100vh;
        background-color: #f9f6f1cc;
        transition: all 0.3s ease-in-out;
        li {
            margin-bottom: 15px;
        }
    }

    .header-bloc1 {
        position:absolute;
        left: 10%;
    }

    .navigation-ul {
        display: none;
    }

    .header-bloc2 {
        position: absolute;
        right: 10%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 55%;
    }

    .projets-article {
        flex-direction: column;
        align-items: center;
    }

    .projets-image {
        height: 300px;
        width: 450px;
    }

    .projets-paragraphe {
        width: 450px;
    }

    .about-text {
        margin-left: 75px;
    }

    .skills-container {
        gap: 20px;
        flex-direction: column;
    }

    .front-back-container {
        gap: 20px;
    }

    .front-container {
        font-size: 18px;
        width: 250px;
        padding-left: 90px;
    }

    .back-container {
        font-size: 18px;
        width: 175px;
    }

    .autres-container {
        font-size: 18px;
        width: 500px;
        margin-left: 20px;
        text-align: center;
    }

    .skills-third::before {
        left: 195px;
        bottom: 5px;
    }

    .contact-container {
        font-size: 16px;
        width: 400px;
    }

    .footer {
        padding: 0px 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    
    .header-bloc1 {
        position:absolute;
        left: 5%;
    }

    .header-bloc2 {
        position: absolute;
        right: 5%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 45%;
    }

    .projets-article {
        flex-direction: column;
        align-items: center;
    }

    .projets-image {
        height: 300px;
        width: 450px;
    }

    .projets-paragraphe {
        width: 450px;
    }

    .about-text {
        width: 400px;
        margin-left: 50px;
    }

    .skills-container {
        gap: 10px;
    }

    .front-back-container {
        gap: 10px;
    }

    .front-container {
        font-size: 18px;
        padding-left: 60px;
    }

    .back-container {
        font-size: 18px;
        width: 175px;
    }

    .autres-container {
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 0px;
    }

    .skills-third::before {
        left: 175px;
        bottom: 5px;
    }

    .contact-container {
        font-size: 16px;
        width: 400px;
    }

    .footer {
        padding: 0px 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    
    .header-bloc1 {
        position:absolute;
        left: 0%;
    }

    .navigation-bar {
        gap: 350px;
    }
    
    .navigation-ul {
        display: none;
    }

    .header-bloc2 {
        position: absolute;
        right: -5%;
    }

    .skills-line {
        width: 150px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        margin-left: 45%;
    }

    .projets-article {
        flex-direction: column;
        align-items: center;
    }

    .projets-image {
        height: 300px;
        width: 450px;
    }

    .projets-paragraphe {
        width: auto;
    }

    .about-text {
        width: 350px;
        margin-left: 25px;
    }

    .skills-title {
        margin-right: 50px;
    }

    .skills-container {
        gap: 10px;
    }

    .front-back-container {
        gap: 10px;
    }

    .front-container {
        font-size: 18px;
        padding-left: 20px;
    }

    .back-container {
        font-size: 18px;
        width: 175px;
    }

    .autres-container {
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 0px;
    }

    .skills-third::before {
        left: 140px;
        bottom: 5px;
    }

    .contact-container {
        font-size: 16px;
        width: 400px;
    }

    .footer {
        padding: 0px 50px;
        font-size: 16px;
    }

    .ptitre {
        font-size: 18px;
    }
}

@media screen and (max-width: 395px) {
    .navigation-bar {
        gap: 10px;
    }
}