// $firstcolor : #3dc1cd ;
// $secondcolor : #f6c45c ;
// $gray1 : #596065 ;
// $gray2 : #383b3c;
$color-grey-light: #f2f2f2; // gris clair
$color-black: black; // noir
$light-color : #fff; // blanc
$dark-color : black;
$color-primary: #007bff; //  un bleu vif
$secondary-color : #383b3c; // s
$primary-color : green; //


//Pannel admin
$dashboard-sidebar-width: 70px;
$dashboard-header-bg	: white;
$dashboard-sidebar-bg	: #26272b;
$dashboard-header-height: 40px;