<footer class="footer">
    <div class="footer_container">
                <div class="footer_title">
                    <p>Project.</p>
                    <p>Harvendore</p>
                </div>
            </a>
            <ul class="footer_p">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
</footer>